@model WorkDistributionApp.Models.WorkObject

@{
    ViewBag.Title = "Create";
    //DateTime currentDate = ViewBag.CurrentDate;
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>WorkObject</h4>
        <hr />
        <dt style="text-decoration:underline">Customer<p></p></dt>
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PolicyNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PolicyNo)
                @Html.ValidationMessageFor(model => model.PolicyNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientName)
                @Html.ValidationMessageFor(model => model.ClientName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientSurname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientSurname)
                @Html.ValidationMessageFor(model => model.ClientSurname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientDOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.EditorFor(model => model.ClientDOB)
                <br /><span style="font:italic;font-size:13px">(dd - mm - yyyy)</span>
                @Html.ValidationMessageFor(model => model.ClientDOB)
            </div>
        </div>
       <hr />

        <dt style="text-decoration:underline">Company<p></p></dt>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamQueue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TeamQueue)
                @Html.ValidationMessageFor(model => model.TeamQueue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Priority, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Priority)
                @Html.ValidationMessageFor(model => model.Priority)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Person, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person)
                @Html.ValidationMessageFor(model => model.Person)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
