@model WorkDistributionApp.Models.WorkObject

@{
    ViewBag.Title = "Details";
}



<div>
    @*<h4>WorkObject</h4>*@
    <p></p>
    <hr />
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.TeamQueue)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TeamQueue)
            </dd>
            <dt>
                <span>User work in Servicing: </span>
            </dt>
            <dd>
                @User.IsInRole("servicing")
            </dd>
            <br />*@
        <dt>
            @Html.DisplayNameFor(model => model.PolicyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamQueue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamQueue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        @if (Model.Status.ToString() == "Processed" || Model.Status.ToString() == "End")
        { 
            // lock, unlock, edit buttons/functions not available in history mode
        }
        else 
        {
            if (Model.isLocked == true)
            {

                String user = Model.LockedBy;
                <dt>
                    <span style="color: #ff0000">Locked by</span>
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LockedBy)
                    <span style="color: #ff0000" textalign="right">at</span>
                    @Html.DisplayFor(model => model.LockedTime)
                </dd>
                <hr style="margin-bottom: 8px; margin-top: 12px" />
                <dt>
                    @if (Model.LockedBy == User.Identity.Name || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Unlock", "Unlock2", new { id = Model.WorkObjectID }, new { @class = "btn btn-danger", style = "color:white; margin-top: 2px" })
                    }
                </dt>
                <dd>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkObjectID }, new { @class = "btn btn-default", style = "color:green; margin-top: 2px" })
                </dd>
            }
            else
            {
                <hr style="margin-bottom: 0px; margin-top: 21px" />
                <dt>
                    @Html.ActionLink("Lock", "Lock", new { id = Model.WorkObjectID }, new { @class = "btn btn-default", style = "color:green; margin-top: 21px" })
                </dt>
                <dd>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkObjectID }, new { @class = "btn btn-default", style = "color:green; margin-top: 21px" })
                </dd>
            }
        }
        
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            <table class="table">
                <tr class="active">
                    <th>
                        Content
                    </th>
                    <th>
                        Timestamp
                    </th>
                    <th>
                        Added by
                    </th>
                </tr>
                @foreach (var item in Model.Comments)
                {   // 
                    if (item.User == "WDS@Autoupdate.com")
                    {
                        <tr style="background-color:#16181a">
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Timestamp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User)
                            </td>
                        </tr>
                    }
                    else if (item.Content.Contains("***"))
                    {
                        <tr style="background-color:#1e1e1e">
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Timestamp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User)
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Timestamp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User)
                            </td>
                        </tr>
                    }
                }
            </table>
            @if (Model.Status.ToString() == "Processed" || Model.Status.ToString() == "End")
            {
                // add comment buttons/functions not available in history mode
            }
            else
            {
                <p>
                    @Html.ActionLink("Add Comment", "Create", "Comment", new { id = Model.WorkObjectID }, new { @class = "btn btn-default", style="color:green; margin-top:-8px; margin-bottom:-13px" })
                </p>
            }
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Attachments)
        </dt>
        <dd>
            <table class="table">
                <tr class="active">
                    <th>
                        File Type
                    </th>
                    <th>
                        Thumbnail
                    </th>
                    <th>
                        Preview
                    </th>
                    <th>
                        File name
                    </th>
                    <th>
                        Timestamp
                    </th>
                    <th>
                        Added by
                    </th>
                    <th>
                        Download
                    </th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th></th>
                    }
                </tr>
                @foreach (var item in Model.Attachments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileType)
                        </td>
                        <td>
                            @if (item.FileType.ToString() == "Email")
                            {
                                <img src="~/icons/email-icon.png" height="32" width="32" />
                            }
                            else if (item.FileType.ToString() == "Audio")
                            {
                                <img src="~/icons/sound-icon.png" height="32" width="32" />
                            }
                            else if (item.FileType.ToString() == "Document")
                            {
                                <img src="~/icons/documents-icon.png" height="32" width="32" />
                            }
                            else if (item.FileType.ToString() == "Letter")
                            {
                                <img src="~/icons/letter-icon.png" height="32" width="32" />
                            }
                            else
                            {
                                <img src="~/icons/request-icon.png" height="32" width="32" />
                            }
                        </td>
                        <td>
                            @if (item.FileType.ToString() == "Audio")
                            {
                                <audio preload="auto" controls="controls" src="@Url.Action("RenderFile", "Attachments", new { id = item.AttachmentID })"></audio>
                            }
                            else
                            {
                                @Html.ActionLink("Click Here", "RenderFile", "Attachments", new { id = item.AttachmentID }, null)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Timestamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User)
                        </td>
                        <td>
                            @Html.ActionLink("Click Here", "DownloadFile", "Attachments", new { id = item.AttachmentID }, null)
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Delete", "Delete", "Attachments", new { id = item.AttachmentID }, null)
                            </td>
                        }
                    </tr>
                }
            </table>
            @if (Model.Status.ToString() == "Processed" || Model.Status.ToString() == "End")
            {
                // add comment buttons/functions not available in history mode
            }
            else
            {
                <p>
                    @Html.ActionLink("Add Attachment", "Create", "Attachments", new { id = Model.WorkObjectID }, new { @class = "btn btn-default", style = "color:green; margin-top:-5px; margin-bottom:-13px" })
                </p>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") @*, null,  new { @class = "btn btn-default" })*@
</p>
