@model WorkDistributionApp.Models.WorkObject

@*@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @*<h4>Edit</h4>*@
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.WorkObjectID)
        @Html.HiddenFor(model => model.StartDate)
        @Html.HiddenFor(model => model.CreatedBy)

         <dt style="text-decoration:underline">Customer<p></p></dt>
        
        <div class="form-group">
            @Html.LabelFor(model => model.PolicyNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PolicyNo)
                @Html.ValidationMessageFor(model => model.PolicyNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientName)
                @Html.ValidationMessageFor(model => model.ClientName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientSurname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientSurname)
                @Html.ValidationMessageFor(model => model.ClientSurname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientDOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientDOB)
                @Html.ValidationMessageFor(model => model.ClientDOB)
            </div>
        </div>
        <hr />

        <dt style="text-decoration:underline">Company<p></p></dt>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamQueue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TeamQueue)
                @Html.ValidationMessageFor(model => model.TeamQueue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Priority, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Priority)
                @Html.ValidationMessageFor(model => model.Priority)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CreatedBy, new { @readonly = "readonly" })             
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="color:green" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Details", new { id = Model.WorkObjectID }) | @*, new { @class = "btn btn-default", style="color:green" })*@
    @Html.ActionLink("Back to List", "Index") @*, null, new { @class = "btn btn-default" })*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
