@model WorkDistributionApp.Models.Attachment

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@
<hr />
<h4>Attachment</h4>
<hr />
@Html.HiddenFor(model => model.WorkObjectID)

@using (Html.BeginForm("create", "attachments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.WorkObjectID)

    <div class="form-group">
        @Html.LabelFor(model => model.FileType, htmlAttributes: new { @class = "control-label col-md-2" })
  
            @Html.EnumDropDownListFor(model => model.FileType)
            @Html.ValidationMessageFor(model => model.FileType, "", new { @class = "text-danger" })               
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.ValidationMessage("myFile")       
        <input type="file" name="fileUpload1" class="btn btn-default" />       
        </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">            
            <p><input type="submit" value="upload" class="btn btn-default" style="color:green; margin-left:-15px" /></p>
        </div>
    </div>
}


            @*@using (Html.BeginForm("Create", "Attachments", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Attachment</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.WorkObjectID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.FileType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(model => model.FileType)
                                @Html.ValidationMessageFor(model => model.FileType)
                                @Html.ValidationMessageFor(model => model.FileType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="file" class="btn btn-default" />
                            </div>
                                <div>
                                <input type="submit" value="Upload" class="btn btn-default" />
                             </div>
                         </div>


                        @*<div class="form-group">
                            @Html.LabelFor(model => model.DateStamp, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DateStamp, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateStamp, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="file" value="Create" class="btn btn-default" />
                                <input type="submit" value="Upload" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }*@

<div>
    @Html.ActionLink("Back", "Details", "WorkObject", new { id = Model.WorkObjectID }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
